@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   background-image: linear-gradient($fourth-color,$third-color,$main-color);
}