@mixin flex($direction, $justify, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin fonts($family,$size,$color,){
    font-family: $family;
    font-size: $size;
    color: $color;
}

