$main-color: #0b0c0c;
$second-color: #2E4F4F;
$third-color: #2e3131;
$fourth-color: #626b6b;
$font: "oswald", sans-serif;
$second-font: "poppins", sans-serif;
$transition: .5s;
$bg-img: url("../images/index1.webp");
$bg-img-2: url("../images/index3.webp");